In [206]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [194]:
df = pd.read_csv('data/titanic_train.csv')

print(df.shape)
df.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Variable descriptions
- **pclass**: A proxy for socio-economic status (SES, i.e. upper, middle, lower): 1st/2nd/3rd
- **age**: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5
- **SibSp** (sibling/spouse)
- **Parch** (parent/child) The dataset defines family relations in this way
- **Cabin** has nan values, but 148 unique values like C85, C123 etc.
- **Ticket** has 681 unique values

### Peeking into the data

What is happening in columns like Ticket, Cabin etc.?

Ticket seems to have mostly unique values, but cabins have repeating values -- can convert this into a `cabin_types` column

In [195]:
print(df['Cabin'].unique())
print('High level types:', set([c[0] if type(c) == str else None for c in df['Cabin']]))

[nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']
High level types: {'G', 'E', 'D', 'C', 'B', None, 'F', 'A', 'T'}

In [196]:
mean_age = df['Age'].mean()
print(f"Age column has {df['Age'].isna().sum()} / {df.shape[0]} missing values -- going to replace with average age {mean_age}")

# replace with average

missing = df['Age'].isna()
df.loc[missing, 'Age'] = mean_age

Age column has 177 / 891 missing values -- going to replace with average age 29.69911764705882

In [198]:
# pull out unique cabin types
def map_cabin_type(cabin_val):
    if pd.isna(cabin_val):
        return None
    else:
        # first char
        return cabin_val[0]

# convert cabin to cabin types
df['cabin_types'] = df['Cabin'].apply(map_cabin_type)

print('--- cabin_types frequencies ---')
print(df['cabin_types'].value_counts())
print('None rows:', df['cabin_types'].isna().sum())

--- cabin_types frequencies ---
cabin_types
C    59
B    47
D    33
E    32
A    15
F    13
G     4
T     1
Name: count, dtype: int64
None rows: 687

### Preprocess data to construct training matrices

What is not mentioned has been dropped
- `Survived`: keep as is (target variable)
- `SibSp`: z-normalize
- `Parch`: z-normalize
- `Fare`: z-normalize
- `Age`: would have liked to z-normalize, but 177/
- `Sex`: one-hot
- `cabin_types`: one-hot
- `Embarked`: one-hot
- `Pclass`: one-hot

In [208]:
# these columns need to be z-normalized
to_scale = ['SibSp', 'Parch', 'Fare', 'Age']
scaler = StandardScaler()
scaled_cols = scaler.fit_transform(df[to_scale])
# print(scaled_cols.shape)

# these columns are categorical, need to be one-hot encoded
onehot = ['cabin_types', 'Embarked', 'Pclass', 'Sex', 'Pclass']
onehot_encoder = OneHotEncoder(handle_unknown='ignore')
onehot_cols = onehot_encoder.fit_transform(df[onehot]).todense()
n_onehot_cols = sum([len(cats) for cats in onehot_encoder.categories_])
# print(n_onehot_cols, onehot_cols.shape)

# construct X and y matrices for the NN
examples = df.shape[0]
n_cols = n_onehot_cols + len(as_is) + len(to_scale)
X = np.zeros((examples, n_cols))

i = 0
X[: , i:i+len(to_scale)] = scaled_cols
i += len(to_scale)
X[: , i:i+n_onehot_cols] = onehot_cols
print('X.shape:', X.shape)

y_true = np.array(df['Survived'])
print('y.shape:', y_true.shape)

X.shape: (891, 26)
y.shape: (891,)

In [213]:
# split into train and validation split
X_train, X_val, y_train, y_val = train_test_split(X, y_true, test_size=0.2, random_state=417)

print('train size:', X_train.shape[0])
print('validation size:', X_val.shape[0])

train size: 712
validation size: 179

### Build model

In [201]:
import keras
from keras import layers

In [203]:
input_shape = X.shape[1]

# two-layer MLP
model = keras.Sequential([
    layers.Dense(input_shape, activation='relu'),
    layers.Dense(input_shape, activation='relu'),
    layers.Dense(1, activation='sigmoid')  # prob. of survival
])
model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

In [215]:
history = model.fit(
    X_train,
    y_train,
    epochs=20,
    batch_size=16,
    validation_data=(X_val, y_val)
)

Epoch 1/20

2024-04-17 20:18:04.363720: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

45/45 [==============================] - 0s 3ms/step - loss: 0.6518 - accuracy: 0.6461 - val_loss: 0.5980 - val_accuracy: 0.7207
Epoch 2/20
45/45 [==============================] - 0s 927us/step - loss: 0.5852 - accuracy: 0.7079 - val_loss: 0.5329 - val_accuracy: 0.7654
Epoch 3/20
45/45 [==============================] - 0s 786us/step - loss: 0.5374 - accuracy: 0.7584 - val_loss: 0.4833 - val_accuracy: 0.8101
Epoch 4/20
45/45 [==============================] - 0s 810us/step - loss: 0.5021 - accuracy: 0.7697 - val_loss: 0.4480 - val_accuracy: 0.8045
Epoch 5/20
45/45 [==============================] - 0s 844us/step - loss: 0.4767 - accuracy: 0.7879 - val_loss: 0.4180 - val_accuracy: 0.8436
Epoch 6/20
45/45 [==============================] - 0s 818us/step - loss: 0.4588 - accuracy: 0.7992 - val_loss: 0.3996 - val_accuracy: 0.8883
Epoch 7/20
45/45 [==============================] - 0s 866us/step - loss: 0.4468 - accuracy: 0.8034 - val_loss: 0.3855 - val_accuracy: 0.8715
Epoch 8/20
45/45 [==============================] - 0s 801us/step - loss: 0.4395 - accuracy: 0.8020 - val_loss: 0.3756 - val_accuracy: 0.8994
Epoch 9/20
45/45 [==============================] - 0s 810us/step - loss: 0.4336 - accuracy: 0.8076 - val_loss: 0.3683 - val_accuracy: 0.8883
Epoch 10/20
45/45 [==============================] - 0s 769us/step - loss: 0.4267 - accuracy: 0.8104 - val_loss: 0.3634 - val_accuracy: 0.8883
Epoch 11/20
45/45 [==============================] - 0s 767us/step - loss: 0.4237 - accuracy: 0.8104 - val_loss: 0.3588 - val_accuracy: 0.8827
Epoch 12/20
45/45 [==============================] - 0s 780us/step - loss: 0.4194 - accuracy: 0.8160 - val_loss: 0.3547 - val_accuracy: 0.8939
Epoch 13/20
45/45 [==============================] - 0s 789us/step - loss: 0.4152 - accuracy: 0.8146 - val_loss: 0.3514 - val_accuracy: 0.8827
Epoch 14/20
45/45 [==============================] - 0s 795us/step - loss: 0.4137 - accuracy: 0.8118 - val_loss: 0.3460 - val_accuracy: 0.8939
Epoch 15/20
45/45 [==============================] - 0s 794us/step - loss: 0.4099 - accuracy: 0.8230 - val_loss: 0.3445 - val_accuracy: 0.8883
Epoch 16/20
45/45 [==============================] - 0s 839us/step - loss: 0.4087 - accuracy: 0.8188 - val_loss: 0.3426 - val_accuracy: 0.8994
Epoch 17/20
45/45 [==============================] - 0s 818us/step - loss: 0.4055 - accuracy: 0.8287 - val_loss: 0.3454 - val_accuracy: 0.8939
Epoch 18/20
45/45 [==============================] - 0s 813us/step - loss: 0.4041 - accuracy: 0.8258 - val_loss: 0.3414 - val_accuracy: 0.8827
Epoch 19/20
45/45 [==============================] - 0s 807us/step - loss: 0.4022 - accuracy: 0.8272 - val_loss: 0.3384 - val_accuracy: 0.8827
Epoch 20/20
45/45 [==============================] - 0s 793us/step - loss: 0.4013 - accuracy: 0.8329 - val_loss: 0.3365 - val_accuracy: 0.8939

### Evaluate

In [230]:
from sklearn.metrics import classification_report, accuracy_score, roc_auc_score

In [231]:
y_probs = model.predict(X_val, verbose=False)
THRESH = 0.5
y_pred = np.array(y_probs > THRESH, dtype=int).squeeze()

print('Accuracy:', '{:.3f}'.format(accuracy_score(y_val, y_pred)))
print('AUC:', '{:.3f}'.format(roc_auc_score(y_val, y_probs)))
print('\n', classification_report(y_val, y_pred))

Accuracy: 0.894
AUC: 0.901

               precision    recall  f1-score   support

           0       0.91      0.93      0.92       115
           1       0.87      0.83      0.85        64

    accuracy                           0.89       179
   macro avg       0.89      0.88      0.88       179
weighted avg       0.89      0.89      0.89       179